
@{
    ViewBag.Title = "About us";
}

<!-- Start About us -->
<section id="mu-about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-about-us-area">
                    <div class="mu-title">
                        <span class="mu-subtitle">Discover</span>
                        <h2>ABOUT US</h2>
                        <i class="fa fa-spoon"></i>
                        <span class="mu-title-bar"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mu-about-us-left">
                                <p>
                                    Established in August 2015, Vaago believes in
                                    facilitating it’s guests with an experience of fine dining
                                    at reasonable prices and extra ordinary services.
                                </p>
                                <p>
                                    Our chefs are a connoisseur 0f food, be it a fast-tracked
                                    lunch or a slow-mover exquisite dinner. From fast food to
                                    Chinese, BBQ to seafood, enjoy every bit of our
                                    traditional cuisines and experience greatness with our
                                    diversified menu.
                                </p>
                                <ul>
                                    <li>
                                        Relish the great moments and exceptional variety of food with us.
                                    </li>
                                    <li>
                                        Vaago also allows you to celebrate your birthdays and special occasions with unmatched services.
                                    </li>

                                    <p>
                                        Vaago offers an authentic taste of Desi food in an ambiance of fine dining lounge. Bringing together family and friends over a rich menu of Desi Breakfast like Halwa Puri, Nihari and Paya along with BBQ, Chines Delicacy, Snacks, Cold Beverages and lots more.
                                    </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mu-about-us-right">
                                <ul class="mu-abtus-slider">
                                    <li>
                                        <img src="~/Content/assets/img/about-us/abtus-img-1.png"
                                             alt="img" />
                                    </li>
                                    <li>
                                        <img src="~/Content/assets/img/about-us/abtus-img-2.jpg"
                                             alt="img" />
                                    </li>
                                    <li>
                                        <img src="~/Content/assets/img/about-us/abtus-img-3.jpg"
                                             alt="img" />
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About us -->