@{
    ViewBag.Title = "Welcome";
}


<!-- Start slider  -->
<section id="mu-slider">
    <div class="mu-slider-area">
        <!-- Top slider -->
        <div class="mu-top-slider">
            <!-- Top slider single slide -->
            <div class="mu-top-slider-single">
                <img src="~/Content/assets/img/slider/1.jpg" alt="img" />
                <!-- Top slider content -->
                <div class="mu-top-slider-content">
                    <span class="mu-slider-small-title">Welcome</span>
                    <h2 class="mu-slider-title">TO VAAGO</h2>
                    <p>
                        VAAGO is all about turning your ordinary days into especial ones
                        and especial days into unforgettable ones in a simply
                        outstanding manner.
                    </p>
                    <a href="@Url.Action("Index","Menu")" class="mu-readmore-btn">VIEW MENU</a>
                </div>
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->
            <!-- Top slider single slide -->
            <div class="mu-top-slider-single">
                <img src="~/Content/assets/img/slider/2.jpg" alt="img" />
                <!-- Top slider content -->
                <div class="mu-top-slider-content">
                    <span class="mu-slider-small-title">The Real</span>
                    <h2 class="mu-slider-title">GREEN FOODS</h2>
                    <p>
                        A fine dining experience where every bite gives a twist of best
                        taste.
                    </p>
                    <a href="@Url.Action("Index","Menu")" class="mu-readmore-btn">VIEW MENU</a>
                </div>
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->
            <!-- Top slider single slide -->
            <div class="mu-top-slider-single">
                <img src="~/Content/assets/img/slider/3.jpg" alt="img" />
                <!-- Top slider content -->
                <div class="mu-top-slider-content">
                    <span class="mu-slider-small-title">Delicious</span>
                    <h2 class="mu-slider-title">SPICY MASALAS</h2>
                    <p>
                        The exceptional depth and clarity of the spices served with
                        perfection!
                    </p>
                    <a href="@Url.Action("Index","Menu")" class="mu-readmore-btn">VIEW MENU</a>
                </div>
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->
        </div>
    </div>
</section>
<!-- End slider  -->
<!-- Start Counter Section -->
<section id="mu-counter">
    <div class="mu-counter-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-counter-area">
                        <ul class="mu-counter-nav">
                            <li class="col-md-3 col-sm-3 col-xs-12">
                                <div class="mu-single-counter">
                                    <span>Fresh</span>
                                    <h3><span class="counter">30</span><sup>+</sup></h3>
                                    <p>Breakfast Items</p>
                                </div>
                            </li>
                            <li class="col-md-3 col-sm-3 col-xs-12">
                                <div class="mu-single-counter">
                                    <span>Delicious</span>
                                    <h3><span class="counter">25</span><sup>+</sup></h3>
                                    <p>Lunch Items</p>
                                </div>
                            </li>
                            <li class="col-md-3 col-sm-3 col-xs-12">
                                <div class="mu-single-counter">
                                    <span>Hot</span>
                                    <h3><span class="counter">10</span><sup>+</sup></h3>
                                    <p>Coffee Items</p>
                                </div>
                            </li>
                            <li class="col-md-3 col-sm-3 col-xs-12">
                                <div class="mu-single-counter">
                                    <span>Satisfied</span>
                                    <h3><span class="counter">1200</span><sup>+</sup></h3>
                                    <p>Customers</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Counter Section -->
<!-- Start Client Testimonial section -->
<section id="mu-client-testimonial">
    <div class="mu-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-client-testimonial-area">
                        <div class="mu-title">
                            <span class="mu-subtitle">Testimonials</span>
                            <h2>What Customers Say</h2>
                            <i class="fa fa-spoon"></i>
                            <span class="mu-title-bar"></span>
                        </div>
                        <!-- testimonial content -->
                        <div class="mu-testimonial-content">
                            <!-- testimonial slider -->
                            <ul class="mu-testimonial-slider">
                                <li>
                                    <div class="mu-testimonial-single">
                                        <div class="mu-testimonial-info">
                                            <p>
                                                I haven't eat the beef pulao like this Very
                                                delicious and tasty must be try With family, friends
                                                big sitting area
                                            </p>
                                        </div>
                                        <div class="mu-testimonial-bio">
                                            <p>- Asad Ali</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="mu-testimonial-single">
                                        <div class="mu-testimonial-info">
                                            <p>
                                                This place is good for Lunch and Dinner. Offering
                                                Variety of Dishes and BBQ.
                                            </p>
                                        </div>
                                        <div class="mu-testimonial-bio">
                                            <p>- Muhammad Usman</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="mu-testimonial-single">
                                        <div class="mu-testimonial-info">
                                            <p>Best place to plan birthday events.</p>
                                        </div>
                                        <div class="mu-testimonial-bio">
                                            <p>- Sheryar Asif</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Client Testimonial section -->